
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %} 

{% block content %}
{% if object.author == user %}

    <div class="header-bar">
    <!-- <a href="{% url 'home' %}"> &#8592; Go Back </a> -->
    </div>

    <div class="card-body">
    <form method="post" action="">
        {% csrf_token %}
        <p> Are you sure you gonna delete this task? "{{post.title}}" </p>
        <input class="button" type="submit" value="Delete">
        <h4> <a class="btn btn-outline-info mb-4" style="text-decoration: none;" href="{% url 'post-detail' post.id %}"> Cancel </a> </h4>
    </form>
  
    </div>
{% else %}
    <h4> You can not delete "<a href="{% url 'post-detail' post.id %}"> {{object.title}} </a> " , because author is {{object.author}} </h4>
{% endif %}
{% endblock content %}